.sangria{

    width: 98%;
    width: -webkit-fill-available;
}

.imagenBitacora{

    align-items: center;
    max-height: 300px;
    max-width: 300px; 
}

.iframe{
    max-width: -webkit-fill-available;
    width: 100%;
    height: 100vh;
}
